---
import Layout from "../layouts/Layout.astro";

const title = "Welcome to Astro.";
const description = "The official Astro website";
---

<Layout title="Welcome to Astro." description={description}>
  <main>
    <h1>{title}</h1>
  </main>
</Layout>
