---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import RecipeDescription from "@/components/RecipeDescription.astro";
import Instructions from "@/components/Instructions.astro";
import Nutrition from "@/components/Nutrition.astro";
import Footer from "@/components/Footer.astro";

const title = "Welcome to Astro.";
const description = "The official Astro website";
---

<Layout title={title} description={description}>
  <div class="container">
    <Header />
    <main class="main">
      <RecipeDescription />
      <hr />
      <Instructions />
      <hr />
      <Nutrition />
      <hr />
      <Footer />
    </main>
  </div>
</Layout>

<style>
  .container {
    max-width: 45rem;
    background-color: var(--white);
    border-radius: 1rem;

    & .main {
      padding: 1.5rem 2.5rem;

      & hr {
        margin: 2rem 0;
        border: 1px solid var(--light-grey);
      }
    }
  }
</style>
