<section class="nutrition">
  <h2 class="nutrition-title">Nutrition</h2>
  <p class="nutrition-description">
    The table below shows nutritional values per serving without the additional
    fillings.
  </p>
  <table></table>
</section>

<style>
  .nutrition-title {
    color: var(--nutmeg);
    margin-bottom: 1rem;
  }
</style>
